<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iste nam quia, aperiam doloribus incidunt quisquam eveniet, soluta beatae totam commodi sint corporis impedit hic illo corrupti veniam repellat voluptate.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, cupiditate velit ad explicabo voluptatibus molestias perferendis fugiat. Saepe consectetur vel labore ipsam molestiae, placeat tenetur dolor ab nulla. Impedit, obcaecati?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, amet dolorum accusamus quasi impedit suscipit veniam maiores delectus blanditiis ratione nulla corporis eveniet nobis sunt eum fugit odit, ipsum aspernatur.
            </p>
        </div>
    </div>
    </div>
    
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
