<body style="background: #E8CBC0; 
background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0); 
background: linear-gradient(to right, #636FA4, #E8CBC0);">
    
<div class="container d-flex align-content-center justify-content-center shadow" style="background-color: white; margin-top: 4%;">
    <div class="row mb-3 mt-3">
        <div class="col-md-12 "><h1 class="display-3">CADASTRO</h1></div>
    </div>
</div>
<div class="container">
    <div class="row shadow mt-1" style="margin-bottom:10%; padding: 10% 3% 10% 3%; background-color: white;">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" placeholder="Digite seu nome aqui!" id="nome" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Digite o seu e-mail!</label>
                  <input type="email" class="form-control" id="email" placeholder="ex. nome@exemplo.com">
                </div>
                <div class="form-group">
                  <label for="senha">Senha</label>
                  <input type="password" class="form-control" id="senha" placeholder="Digite uma senha segura!">
                </div>
                <div class="form-group">
                    <label for="senhaConf">Confirmar senha</label>
                <input type="password" class="form-control" id="senhaConf" placeholder="Confirme a sua senha.">
                </div>
                <button type="submit" class="btn btn-outline-success">Submit</button>
              </form>
        </div>
    </div>
</div>
</body>